*.js
*.js.map
node_modules

# Docker
.env
!*-sample

# misc
/connect.lock
coverage
dist
/libpeerconnection.log
npm-debug.log
testem.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
